{% extends 'players/base.html' %}

{% block content %}
Hello, {{ user.username|default:'Guest'}}!



<form method="POST">
    {% csrf_token %}
    <div>
        {{ form }}
    </div>
    <input type="submit" value="Отправить">
</form>
<div>
    {% if user.is_authenticated %}
    <a href="{% url 'players:logout' %}">Logout</a> |
    <a href="{% url 'players:password_change' %}">Change password</a>
    {% else %}
    <a href="{% url 'players:login' %}">Login</a>
    {% endif %}
</div>
{% endblock %}
