{% extends "base.html" %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8" />
    <title>Рейтинг в реальном времени</title>
    <script src="{% static 'js/quiz.js' %}"></script>
    <link rel="stylesheet" href="{% static 'app_test/css/styles.css' %}" />
</head>


<body>
    <div>- Присоединиться могут только авторизированные пользователи. </div>
    <div>- Несложно доработать до возможности паралелльного тестирования в разних классах/групах/предметах/по коду
        подключения</div>

    <div class="buttonForm">
        <button onclick="joinAndRedirect()" class="btn btn-primary">Присоединиться</button>
    </div>

    <h2>Общий рейтинг</h2>
    <table id="ratingTable">
        <thead>
            <tr>
                <th>Пользователь</th>
                <th>Очки</th>
                <th>Время (сек)</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>


</body>

</html>

<script>

    var currentUser = "{{ user|escapejs }}";
    var urlQuestions ='{% url "questions" %}';

</script>

{% endblock %}