{% extends "base.html" %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8" />
    <title>Ответы и Рейтинг</title>
    <script src="{% static 'js/quiz_user_page.js' %}"></script>
    <link rel="stylesheet" href="{% static 'app_test/css/styles.css' %}" />
</head>


<body>
    <h1>Ответьте на вопрос</h1>

    <div class="question">
        <p id="testQuestion" hidden>Вопрос</p>
        <div id="questionId" hidden></div>
        <div id="answerOptions" hidden></div>
        <input type="text" id="answerInput" hidden placeholder="Ваш ответ" />
    </div>

    <div class="buttonForm">
        <button id="submitButton" hidden onclick="sendAnswer()">Отправить ответ</button>
        <p id="waitInfo">- Ожидание начала теста -</p>
    </div>

    <div class="buttonForm" id="startTest">
        <button onclick="manualStartTest()">Начать вручную</button>
    </div>

    <h2>Общий рейтинг</h2>
    <table id="ratingTable">
        <thead>
            <tr>
                <th>Пользователь</th>
                <th>Очки</th>
                <th>Время (сек)</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>

</body>

</html>
<script>
    var currentUser = "{{ user|escapejs }}";
</script>
</body>

</html>


{% endblock %}