<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8" />
    <title>Ответы и Рейтинг</title>
    <style>
        body {
            font-family: Arial, sans-serif;
        }

        .question {
            margin-bottom: 20px;
        }

        #ratingTable {
            width: 60%;
            border-collapse: collapse;
            margin-top: 30px;
        }

        th,
        td {
            border: 1px solid #333;
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: #f0f0f0;
        }

        .hidden {
            display: none;
        }
    </style>
</head>

<body>
    <h1>Ответьте на вопрос</h1>

    <div class="question">
        <p id="testQuestion" hidden>Вопрос</p>
        <div id="questionId" hidden></div>
        <div text='' id="answerOptions" hidden></div>
        <input type="text" id="answerInput" hidden placeholder="Ваш ответ" />
        <button id="submitButton" hidden onclick="sendAnswer()">Отправить ответ</button>
    </div>

    <div class="start">
        <p id="waitInfo">- Ожидание начала теста -</p>
        <button id="submitButton" onclick="manualStartTest()">Начать вручную</button>

    </div>

    <h2>Общий рейтинг</h2>
    <table id="ratingTable">
        <thead>
            <tr>
                <th>Пользователь</th>
                <th>Очки</th>
                <th>Время (сек)</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>

    <script>
        const socket = new WebSocket('ws://' + window.location.host + '/ws/rating/');

        socket.onopen = () => {
            console.log('WebSocket подключен');
            getUserTable();
        };

        // Обработчик ошибок
        socket.onerror = (error) => {
            console.error('WebSocket ошибка:', error);
        };

        socket.onmessage = (event) => {
            const data = JSON.parse(event.data);
            if (data.type === 'rating_updates') {
                // Обновляем таблицу
                console.log('обновление рейтинга');
                updateRatingTable(data.content);
            }

            if (data.type === 'rating_table') {
                // Обновляем таблицу
                console.log('получена таблица рейтнига');
                updateRatingTable(data.content);
            }

            if (data.type === 'next_question') {
                // Обновляем вопрос
                console.log('получен новый вопрос');
                updateDataQuestion(data.content);
            }
            
            if (data.type === 'start') {
                startTest(data.content);
            }

            if (data.type === 'end_test') {
                // Закончить тест
                endTest(data.content);
            }
        };

        function updateRatingTable(ratingData) {
            const tbody = document.getElementById('ratingTable').getElementsByTagName('tbody')[0];
            tbody.innerHTML = '';
            for (const key in ratingData) {
                const row = tbody.insertRow();
                const userName = key;             // 'computer', 'computer1'
                const userData = ratingData[key]; // объект с score и time

                row.insertCell().textContent = userName;
                row.insertCell().textContent = userData.score;
                row.insertCell().textContent = userData.time;

            }
        }

        function appendUser() {
            const waitInfo = document.getElementById('waitInfo');
            waitInfo.textContent = "тест закончен";
            socket.send(JSON.stringify({
                type: "auth",
                user: "{{ user|escapejs }}"
            }));
        }

        function getUserTable() {
            socket.send(JSON.stringify({
                type: "table",
                user: "{{ user|escapejs }}"
            }));
        }

        function manualStartTest() {
            socket.send(JSON.stringify({ 
                type: "start",
                user: "{{ user|escapejs }}"
            }));
        }
        
        function startTest() {
            console.log('начало теста');
            document.getElementById('answerOptions').hidden = false;
            document.getElementById('submitButton').hidden = false;
            document.getElementById('answerInput').hidden = false;
            document.getElementById('testQuestion').hidden = false;
            document.getElementById('waitInfo').hidden = true;
            socket.send(JSON.stringify({ 
                type: "start",
                user: "{{ user|escapejs }}"
            }));
            getNextQuestion()
        }

        function sendAnswer() {

            const radios = document.querySelectorAll('input[name="answer"]');
            const answered_at = new Date();

            let answer = '';

            console.log('время: ', answered_at);

            if (radios.length > 0) {
                // Есть радиокнопки
                radios.forEach(r => {
                    if (r.checked) answer = r.value;
                });
            }
            else {
                // Поле для ввода
                answer = document.getElementById('answerInput').value;
            }

            if (!answer) {
                alert('Пожалуйста, введите ответ');
                return;
            }

            questionId = document.getElementById('questionId').textContent;

            socket.send(JSON.stringify({
                type: "answer",
                user: "{{ user|escapejs }}",
                answer: answer,
                question_id: questionId,
                answered_at: answered_at
            }));
            console.log('ответ отправлен: ', answer, 'id :', questionId);
            getNextQuestion();
        }

        function getNextQuestion() {
            console.log('запрос: следующий вопрос');
            socket.send(JSON.stringify({ type: "next_question", user: "{{ user|escapejs }}" }));
        }

        function updateDataQuestion(questionData) {
            console.log('обновлен вопрос');

            options = questionData.options;

            const optionsContainer = document.getElementById('answerOptions');
            const testQuestion = document.getElementById('testQuestion');
            const answerInput = document.getElementById('answerInput');
            const questionId = document.getElementById('questionId');

            optionsContainer.innerHTML = '';

            questionId.textContent = questionData.question_id;
            testQuestion.textContent = questionData.text;

            answerInput.value = "";

            if (options && options.length > 0) {
                // Есть варианты — создаем радиокнопки
                options.forEach((option, index) => {
                    const label = document.createElement('label');
                    label.id = 'radioBlock';
                    label.style.display = 'block';
                    const radio = document.createElement('input');
                    radio.type = 'radio';
                    radio.name = 'answer';
                    radio.value = option;
                    if (index === 0) radio.checked = true; // по умолчанию выбран первый

                    label.appendChild(radio);
                    label.appendChild(document.createTextNode(option));
                    optionsContainer.appendChild(label);
                });
                // Показываем блок с радиокнопками
                document.getElementById('radioBlock').hidden = false;
                // скрываем поле для ввода
                document.getElementById('answerInput').hidden = true;
            } else {
                // Нет вариантов — показываем поле для ввода
                document.getElementById('answerInput').hidden = false;
                document.getElementById('answerInput').value = '';
            }
        }

        function endTest(questionData) {
            console.log('тест закончен');
            const waitInfo = document.getElementById('waitInfo');
            waitInfo.textContent = "тест закончен";

            document.getElementById('answerOptions').hidden = true;
            document.getElementById('submitButton').hidden = true;
            document.getElementById('answerInput').hidden = true;
            document.getElementById('testQuestion').hidden = true;
            document.getElementById('waitInfo').hidden = false;

        }

    </script>
</body>

</html>