<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8" />
    <title>Ответы и Рейтинг</title>
    <style>
        body {
            font-family: Arial, sans-serif;
        }

        .question {
            margin-bottom: 20px;
        }

        #ratingTable {
            width: 60%;
            border-collapse: collapse;
            margin-top: 30px;
        }

        th,
        td {
            border: 1px solid #333;
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: #f0f0f0;
        }
    </style>
</head>

<body>
    <h1>Ответьте на вопрос</h1>

    <div class="question">
        <p>Cтолица Франции?</p>
        <input type="text" id="answerInput" placeholder="Ваш ответ" />
        <input type="text" id="playUser" placeholder="Ваше имя" />
        <button onclick="sendAnswer()">Отправить</button>
    </div>

    <div class="start">
        <button onclick="appendUser()">Подключится к тесту</button>
    </div>

    <h2>Общий рейтинг</h2>
    <table id="ratingTable">
        <thead>
            <tr>
                <th>Пользователь</th>
                <th>Очки</th>
                <th>Время (сек)</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>

    <script>
        const socket = new WebSocket('ws://' + window.location.host + '/ws/rating/');

        socket.onopen = () => {
            console.log('WebSocket подключен');
        };

        // Обработчик ошибок
        socket.onerror = (error) => {
            console.error('WebSocket ошибка:', error);
        };

        socket.onmessage = (event) => {
            const data = JSON.parse(event.data);
            if (Array.isArray(data)) {
                updateRatingTable(data);
            }
        };

        function updateRatingTable(ratingData) {
            const tbody = document.getElementById('ratingTable').getElementsByTagName('tbody')[0];
            tbody.innerHTML = '';
            ratingData.forEach(item => {
                const row = tbody.insertRow();
                row.insertCell().textContent = item.user;
                row.insertCell().textContent = item.score;
                row.insertCell().textContent = item.time;
            });
        }

        function sendAnswer() {
            const answer = document.getElementById('answerInput').value.trim();
            if (!answer) {
                alert('Пожалуйста, введите ответ');
                return;
            }
            // Отправляем ответ на сервер через WebSocket
            socket.send(JSON.stringify({ answer: answer, user: 'Ваше имя' }));
            document.getElementById('answerInput').value = '';
        }

        function appendUser() {
            socket.send(JSON.stringify({ type: "auth", user: "{{ user|escapejs }}" }));
        }
    </script>
</body>

</html>