{% extends "apts/base.html" %}

{% block content %}
<h1>Hello, World!</h1>

<h4><a href="http://127.0.0.1:8000/admin/">'admin'</a></h4>
<h4><a href="http://127.0.0.1:8000/projects/">'projects'</a></h4>
<h4><a href="http://127.0.0.1:8000/blog/">'blog'</a></h4>
<h4><a href="http://127.0.0.1:8000/users/login/">'users'</a></h4>
<h4><a href="http://127.0.0.1:8000/dashboard/">'players'</a></h4>
<h4><a href="http://127.0.0.1:8000/topics/">'topics'</a></h4>
<h4><a href="http://127.0.0.1:8000/catalog/">'catalog'</a></h4>
<h4><a href="http://127.0.0.1:8000/cards/">'cards'</a></h4>


{% endblock content %}