{% extends "apts/base.html" %}

{% block content %}
<h1>Список всех тренировочных проектов</h1>
<br>


<h4><a href="admin/">'admin' - Админка средствами Django</a></h4>
<h4><a href="classbook/">'classbook' - Классный журнал</a></h4>
<h4><a href="catalog/">'catalog' - Книжная библиотека</a></h4>
<h4><a href="projects/">'projects' - Тут сделать фото-галерею!</a></h4>
<h4><a href="topics/">'topics' - Блога (основная база пользователей)</a></h4>
<h4><a href="blog/">'blog'- Блога</a></h4>
<h4><a href="users/login/">'users' - Авторизация пользователей</a></h4>
<h4><a href="players/dashboard/">'players' - Простая форма отправки данных + Авторизация</a></h4>
<h4><a href="cards/">'cards' - Непонятный проект из Githab</a></h4>
<h4><a href="days/">'days' - в разработке</a></h4>
<h4><a href="quizz/">'quizz' - в разработке</a></h4>
<br>

{% endblock content %}