{% extends "apts/base.html" %}
{% block header %}
<body>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Добавить ученика"><br><br>
    </form>
    {% for pupil in pupils %}
        {{ forloop.counter }}. {{ pupil.first_name }} {{ pupil.last_name }} {{ pupil.middle_name }}
        - {{ pupil.date_of_birth }} {{ pupil.sex }} - {{ pupil.group }} класс - {{ pupil.sub_group }}-я группа<br>
    {% endfor %}
</body>
</html>
{% endblock header %}