{% extends "classbook/base.html" %}
{% block header %}
<body>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Добавить ученика"><br><br>
    </form>
    {% for pupil in pupils %}
        {{ forloop.counter }}. <a href="{% url 'pupil_edit' pupil.id %}">
        {{ pupil.first_name }} {{ pupil.last_name }} {{ pupil.middle_name }}</a>
         - {{ pupil.sex }} - {{ pupil.date_of_birth }} - {{ pupil.group }} класс - {{ pupil.sub_group }}-я группа<br>
    {% endfor %}
</body>
</html>
{% endblock header %}