{% extends "classbook/base.html" %}
{#{% include 'apts/menu.html' %}#}
{% load filters %}
{% block content %}
</head>
<body>
    (тренировочный прокет Джанго. Классный журнал. 
    Реализована возможность ставить оценки как в обычном журнале. оптимизирован по количеству запросов к БД
    Преподаватель заполняет журнал, создавая уроки для каждого класса, заполняя тему урока. Темы могут автоматически 
    подгружаться из заранее сделанного КТП.
    Есть возможность создавать расписание, причем для двух разных групп, 
    автоматически формируется расписание для учителя

    - доработка расписания учителя
    - добавить страничность в КТП
    - сделать корректное и красивое управление классами/учениками
    - страничностьв журнале или другой функционал
    - добавление учителей (может через админку?))

    <h1>Наша школа!</h1>
    <br>
    <a href="{% url 'journal-select' %}">Журнал</a>
    <br>
    <a href="{% url 'schedule_class' 1 %}">Расписание</a>
    <br>
    <a href="pupils/">Ученики</a>
    <br>
    <a href="groups/">Классы</a>
    <br>
    <a href="ktp/">Контрольно-тематическое планирвоание</a>
</body>
</html>
{% endblock content %}