{% extends "apts/base.html" %}
{% load bootstrap3 %}
{% load filters %}
{%  block header %}
    <h2>Журнал</h2>
{%  endblock header %}
{% block content %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'classbook/css/styles.css' %}">
    <h3>Выбор журнала</h3>
    <form method="post">
        {% csrf_token %}
          {{ journal }}
            <br>
            {% buttons %}
                <button name="" class="btn btn-primary">Показать журнал</button>
            {% endbuttons %}<br>
        </form>
        <form method="get" action="{% url 'score' %}">
            <table>
                <tr><th>...</th>
                {% for lesson in lessons %}
                <th><div id="rotate-text">{{lesson.date}}</div></th>
                {% endfor %}
            </tr>
                {% for pupil in pupils %}
                <tr><td>{{ pupil }}</td>
                    {% for lesson in lessons %}
                        <td><label for="{{ lesson.id }} {{ pupil.id }}"></label>
                        {% if lesson.date %}
                            <input type="text" value="{{ scores|by_date:lesson.date|by_pupil:pupil|str_score }}"
                                   name="{{ lesson.id }} {{ pupil.id }} {{ teacher }} {{ discipline }} {{ scores|by_date:lesson.date|by_pupil:pupil|id_score }}" style="width: 24px;">
                        {% endif %}</td>
                    {% endfor %}
            </tr>
                {% endfor %}
            </table><br>
            <input type="submit" value="Отправить">
        </form>

{% endblock content%}