{% extends "apts/base.html" %}
{% load bootstrap3 %}
{% load filters %}
{%  block header %}
    <h2>Журнал</h2>
{%  endblock header %}
{% block content %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'classbook/css/styles.css' %}">
    <h3>Выбор журнала</h3>
    <form method="post">
    {% csrf_token %}
          {{ select_journal }}
            <br><br>
            {% buttons %}
                <button name="get_journal" value = '1' class="btn btn-primary">Показать журнал</button>
            {% endbuttons %}
    </form>
    <form method="post">
    {% csrf_token %}
        <input type="submit" class="btn" value="Добавить урок" name="add_lesson">
        <input type="text" value="{{ ktp.lesson_number  }}" name="lesson_number" size="1"/>
        <input type="text" value="{{ ktp.lesson_type }}" name="lesson_type" size="20"/>
        <input type="text" value="{{ ktp.topic }}" name="lesson_topic" size="30"/>
        <input type="text" value="{{ ktp.home_work }}" name="home_work" size="20"/>
    <br>
    </form>
{#  <form method="post" action="{% url 'score' %}">#}
    <form method="post">
    {% csrf_token %}
        <table>
            <tr><th>...</th>
            {% for lesson in lessons %}
            <th><div id="rotate-text">{{lesson.date}}</div></th>
            {% endfor %}
        </tr>
            {% for pupil in pupils %}
            <tr><td>{{ pupil }}</td>
                {% for lesson in lessons %}
                    <td><label for="{{ lesson.id }} {{ pupil.id }}"></label>
                    {% if lesson.date %}
                        <input type="text" value="{{ scores|by_lesson:lesson|by_pupil:pupil|str_score }}"
                               name="score {{ lesson.id }} {{ pupil.id }} {{ teacher }} {{ scores|by_lesson:lesson|by_pupil:pupil|id_score }}" style="width: 24px;">
                    {% endif %}</td>
                {% endfor %}
        </tr>
            {% endfor %}
        </table><br>
        <input type="submit" value="Отправить" name="set_scores">
    </form>

{% endblock content%}