{% extends "classbook/base.html" %}

{% load filters %}
{% block header %}
{% endblock header %}
{% block content %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'classbook/css/styles.css' %}">
    <h2 class="centered-title">Журнал</h2>

    <h3>Выбор журнала</h3>

    <form method="post">
        {% csrf_token %}
        <div class="rectangle-container">
        <table class="journal-table">
            <thead>
                <tr>
                    {% for field in select_journal %}
                    <th>{{ field.label_tag }}</th>
                    {% endfor %} 
                    <th></th> 
                </tr>
            </thead>
            <tbody>
            <tr>
                {% for field in select_journal %}
                    <td>{{ field }}</td>
                {% endfor %}
                <td><input name="get_journal" type="submit" class="btn btn-primary" value="Показать журнал" name="add_lesson"></td>
            </tr>
        </tbody>
        </table>
        </div>
    </form>

    <!-- Таблица с формой -->
     
    
        {#  <form method="post" action="{% url 'score' %}">#}
        <form method="post">
            {% csrf_token %}
            <h3 class="class-info">{{ group_name }} класс, {{ discipline_name }}</h3>
            <table id="journal-table">
                <tr>
                    <th>...</th>
                    <!-- заголовки уроков -->
                    {% for lesson in lessons %}
{#                  <th><div class="rotate-text" id="rotate-text">{{lesson.date|date:"d-m"}}{{lesson.date|date:"d-m"}}</div></th>#}
                        <th id="journal-info" style="text-align: center;">
                            <div style="color: midnightblue">-{{lesson.number}}-</div>
                            <div> </div>
                    <div>{{lesson.date.weekday|wd}}</div>
                            <div style="color: darkgray" >{{lesson.date|date:"m"}}</div>
                            <div>{{lesson.date|date:"d"}}</div>
                        </th>
                    {% endfor %}
                    <!-- остаток таблицы -->
                    {% for _ in range_col %}
                        <th id="journal-info">
                            <div style="text-align: center;">.</div>
                        </th>
                    {% endfor %}
                </tr>
                <!-- ученики -->
                {% for pupil in pupils %}
                <tr id="journal-table-tr">
                    <td>{{ forloop.counter }}. {{ pupil }}</td>
                    {% for lesson in lessons %}
                        <td>
                            <label for="{{ lesson.id }}{{ pupil.id }}"></label>
                            {% if lesson.date %}
                                <input id="{{ lesson.id }}{{ pupil.id }}" type="text" value="{{ scores|by_lesson:lesson.id|by_pupil:pupil.id|str_score }}"
                                       name="score {{ lesson.id }} {{ pupil.id }} {{ teacher }} {{ scores|by_lesson:lesson.id|by_pupil:pupil.id|id_score }}" class="score-input">
                            {% endif %}
                        </td>
                    {% endfor %}
                    <!-- остаток -->
                    {% for _ in range_col %}
                        <td><label></label>
                            <input type="text" value="" readonly="True" class="score-input"></td>
                    {% endfor %}
                </tr>
                {% endfor %}
                <!-- нет учеников -->
                {% if not pupils %}
                <tr id="journal-table-tr"><td>(нет учеников в классе)</td>
                    {% for _ in range_col %}
                        <td><label></label>
                            <input id="1" type="text" value=" " class="score-input"></td>
                    {% endfor %}
                </tr>
                {% endif %}
            </table>
            <br>
            <input type="submit" value="Отправить" name="set_scores"><br><br>

            <form method="post">
                    {% csrf_token %}
                    <div class="rectangle-container">
                    <table class="journal-table">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Номер</th>
                                <th>Тип урока</th>
                                <th>Тема урока</th>
                                <th>Домашнее задание</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><input type="submit" class="btn btn-primary" value="Добавить урок" name="add_lesson"></td>
                                <td><input type="text" value="{{ ktp.lesson_number }}" name="lesson_number" required size="3" class="input-small"/></td>
                                <td>
                                    <select name="lesson_type" class="select-medium">
                                        {% for type_lesson, name_of_type in types_of_lessons.items %}
                                            <option value="{{ type_lesson }}">{{ name_of_type }}</option>
                                        {% endfor %}
                                    </select>
                                </td>
                                <td><input type="text" value="{{ ktp.topic }}" name="lesson_topic" size="30" class="input-medium"/></td>
                                <td><input type="text" value="{{ ktp.home_work }}" name="home_work" size="23" class="input-small"/></td>
                            </tr>
                        </tbody>
                    </table>
                    </div>
                    <br>
                </form>

            <table class="lessons-info-table">
                {% for lesson in lessons %}
                    <tr><td>{{ forloop.counter }}. <a style="color: midnightblue">№{{ lesson.number }}</a> {{ lesson.topic}}, д/з: {{ lesson.home_work }}</td></tr>
                {% endfor %}
            </table>
        </form>
{% endblock content %}