{% extends "classbook/base.html" %}
{% load bootstrap3 %}
{% load filters %}
{% block header %}
{% endblock header %}
<h2>Расписание для {{ group }} класса</h2>
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'classbook/css/styles.css' %}">


    <form method="post">
    {% csrf_token %}
        <div>{{ schedule_select }}</div>
        {% buttons %}
            <div><button name="Кнопка" class="btn btn-primary">Показать расписание</button></div>
        {% endbuttons %}
    </form>

    <form method="get">
        <table>
        <tr><th>...</th>
            {% for day, date in days %}
            <th id="schedule-th">{{ day }}<br>{{ date|date:'d-m' }}</th>
            {% endfor %}
        </tr>
            {% for time in lessons_time %}
            <tr class="schedule-row"><td id="schedule-time">{{ forloop.counter }}. - {{ time.lesson_time }}</td>
                {% for day, date in days %}
                    <td id="schedule-info">
                    {% with lesson=schedule|by_numb_lesson:time.number|by_day_lesson:day %}
                        {% for l in lesson %}
                            {% if forloop.counter > 1 %}
                                .........<br>
                            {% endif %}
                        <span>{{ l.discipline }},</span><br>
                        <span style="color: tomato">{{ l.cabinet }}</span><br>
                            {% if l.sub_group %}
                                <span>группа {{ l.sub_group }} </span><br>
                            {% endif %}
                        {% endfor %}
                    {% endwith %}
                {% endfor %}
        </tr>
            {% endfor %}
        </table><br>
    </form>
    <div>Перейки к расписанию  <a href="{% url 'schedule_teacher' 9 %}">для учителя</a></div>

{% endblock content%}