{% extends "classbook/base.html" %}
{% load bootstrap3 %}
{% load filters %}
{% block header %}
    <h2>Расписание для учителя</h2>
{% endblock header %}
{% block content %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'classbook/css/styles.css' %}">
    <form method="post">
        {% csrf_token %}
          {{ schedule_select }}
            <br>
            {% buttons %}
                <div><button name="" class="btn btn-primary">Показать расписание</button></div>
            {% endbuttons %}<br>
        </form>
        <form method="get">
            <table>
            <tr><th>...</th>
                {% for day, date in days %}
                <th id="schedule-th">{{ day }}<br>{{ date|date:'d-m' }}</th>
                {% endfor %}
            </tr>
                {% for time in lessons_time %}
                <tr class="schedule-row">
                    <td td id="schedule-time">{{ forloop.counter }}. - {{ time.lesson_time }}</td>
                    {% for day, date in days %}
                        <td id="schedule-info"> 
                        {{ lessons|by_numb_lesson:time.number|by_day_lesson:day|get_discipline }}
                        <br>
                        <span style="color: tomato">{{ lessons|by_numb_lesson:time.number|by_day_lesson:day|get_cabinet }}</span>
                        </td>
                        
                    </td>
                    {% endfor %}
            </tr>
                {% endfor %}
            </table><br>
        </form>
        <div>Перейки к расписанию <a href="{% url 'schedule_class' 1 %}">для класса</a></div>

{% endblock content%}
