{% extends "apts/base.html" %}
{% load bootstrap3 %}
{% load filters %}
{% block header %}
    <h2>Расписание</h2>
{% endblock header %}
{% block content %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'classbook/css/styles.css' %}">
    <form method="post">
        {% csrf_token %}
          {{ schedule }}
            <br>
            {% buttons %}
                <button name="" class="btn btn-primary">Показать расписание</button>
            {% endbuttons %}<br>
        </form>
        <form method="get" action="{% url 'score' %}">
            <table>
            <tr><th>...</th>
                {% for day, date in days %}
                <th>{{ day }}, {{ date }}</th>
                {% endfor %}
            </tr>
                {% for time in lessons_time %}
                <tr><td>{{ time.lesson_time }}</td>
                    {% for _, date in days %}
                        <td>
                        <input type="text" value="{{ lessons|by_numb_lesson:time.number|by_day:date }}" style="width: 150px;">
                        </td>
                    {% endfor %}
            </tr>
                {% endfor %}
            </table><br>
        </form>

{% endblock content%}