{% extends "apts/base.html" %}
{% load bootstrap3 %}
{% load filters %}
{%  block header %}
    <h2>Расписание</h2>
{%  endblock header %}
{% block content %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'classbook/css/styles.css' %}">
    <form method="post">
        {% csrf_token %}
          {{ journal }}
            <br>
            {% buttons %}
                <button name="" class="btn btn-primary">Показать журнал</button>
            {% endbuttons %}<br>
        </form>
        <form method="get" action="{% url 'score' %}">
            <table>
            <tr><th>...</th>
                {% for day in days %}
                <th>{{day}}</th>
                {% endfor %}
            </tr>
                {% for time in lessons_time %}
                <tr><td>{{ time }}</td>
                    {% for day in days %}
                        <td>
                        <input type="text" value="{{ lesson }}" style="width: 150px;">
                        </td>
                    {% endfor %}
            </tr>
                {% endfor %}
            </table><br>
        </form>

{% endblock content%}