/*.sidebar-nav {*/
/*    margin-top: 20px;*/
/*    padding: 0;*/
/*    list-style: none;*/
/*}*/
.danger {
    color: red;
}
.catalog-logo {
    color: dodgerblue;
    text-align: center;
    font-size: 50px;
    text-align: left;

}
.container-body {
    float: left;
    margin-bottom: 15px;
}
.col-1-3 {
    width: 250px;
    float: left;
}
.col-2-3 {
    width: 70%;
    float: left;
}
