{% extends "base_generic.html" %}
{% load static %}
{% block content %}


<h4>{{ author.first_name }} {{ author.last_name }}</h4>
<form method="POST">
    {% csrf_token %}
    <table>
        <tr>
            <th><label>Имя</label></th>
            <th><input type="text" name="first_name" value="{{ author.first_name }}" /></th>
        </tr>
        <tr>
            <th><label>Фамилия</label></th>
            <th><input type="text" name="last_name" value="{{ author.last_name }}" /></th>
        </tr>
        <tr>
            <th><label>Дата рождения</label></th>
            <th><input type="date" name="date_of_birth" value="{{ author.date_of_birth }}" /></th>
        </tr>
        <tr>
            <th><label>Дата смерти</label></th>
            <th><input type="date" name="date_of_death" value="{{ author.date_of_death }}" /></th>
        </tr>
    </table>
    <div class="button-field">
        <input type="submit" value="Сохранить">
    </div>
</form>
{% endblock %}