{% extends "base_generic.html" %}
{% block content %}
<style>
  /* скрыты по умолчанию */
  .action-icons {
    opacity: 0;
    transition: opacity 0.3s;
    margin-left: 10px;
  }

  /* иконки при наведении на строку */
  li:hover .action-icons {
    opacity: 1;
  }

  /* Стиль для ссылок с иконками, убираем стандартный стиль */
  .action-icons a {
    text-decoration: none;
    margin: 0 5px;
    font-size: 1.2em;
    /* увеличиваем размер символов */
    color: black;
  }
</style>

<h1>Список книг в БД</h1>
{% if book_list %}
<ul>
  {% for book in book_list %}
  <li>
    <a href="{{ book.get_absolute_url }}">{{ book.title }}</a> ({{ book.genre }})
    <span class="action-icons">
      <a href="{% url 'book_update' book.id %}" title="Редактировать">✎</a>
      <a href="{% url 'book_delete' book.id %}" title="Удалить">🗑️</a>
    </span>
  </li>
  {% endfor %}
</ul>
{% else %}
<p>В базе данных нет книг</p>
{% endif %}
{% endblock %}