{% extends "base_generic.html" %}

{% block content %}
    <p>Взятые книги</p>

    {% if bookinstance_list %}
    <ul>

      {% for bookinst in bookinstance_list %}
      <li style="{% if bookinst.is_overdue %}
                                   color:red;{% endif %}">
        <a href="{% url 'book-detail' bookinst.book.pk %}">
                                {{bookinst.book.title}}</a>
                         ({{ bookinst.due_back }})</li>
      {% endfor %}
    </ul>

    {% else %}
      <p>Нет книг со статусом бронь.</p>
    {% endif %}
{% endblock %}
